parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Hydration/Entity/AbstractEntityHydration.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, string\\|false given\\.$#"
			count: 1
			path: src/Hydration/Entity/AbstractEntityHydration.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Hydration/Scalar/AbstractScalarHydration.php
