includes:
    - phpstan-baseline.neon

parameters:
 level: 9
 paths:
    - src
    - tests
 excludePaths:
     - src/DependencyInjection/Extension/Configuration.php
 ignoreErrors:
    -
        identifier: missingType.iterableValue
    -
        identifier: missingType.generics
